flow/src/main/mule/flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3316f541-fa48-428c-9878-e8872adc12bb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="MainFlow" doc:id="faa5350a-64b1-4831-9b9d-4086c04f6ee2" >
		<scheduler doc:name="Scheduler" doc:id="090d5447-f56b-4f6a-8f9c-68c211f13813" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="60fb28c3-3e7e-4c32-a014-339b94775555" message="start flow::::::::::::::::::;; #[vars.Place]"/>
		<set-variable value="#['Anji']" doc:name="Set Variable" doc:id="9522fef6-55f8-43be-9758-62036eba80f1" variableName="Name"/>
		<flow-ref doc:name="Subflow calling" doc:id="072c000b-6fdd-4ba0-b990-ccd515a3f22f" name="subflow:::::::::::::::::::"/>
		<logger level="INFO" doc:name="Logger" doc:id="8da3cdce-f55b-48bd-9d7f-4beebe02c66d" message="calling Private flow"/>
		<flow-ref doc:name="Private flow calling" doc:id="46d1c485-faa2-4159-a5cb-129f1527faee" name="Privateflow"/>
	</flow>
	<flow name="Privateflow" doc:id="6e7bed49-e03b-47df-be20-0db93815a55b" >
		<logger level="INFO" doc:name="Logger" doc:id="41a23e03-d3e9-4dc8-a628-5d9cdd41e0ac" message="Privateflow:::::::::::::::::::::#[vars.Name]"/>
		<set-variable value="#['Hyd']" doc:name="Set Variable" doc:id="1d29c449-5be1-4433-9c0a-1c58ce4f6a10" variableName="Place"/>
		<logger level="INFO" doc:name="Logger" doc:id="7ed5d897-480a-4e15-9de1-6dcea4849ca8" message="#[vars.Place]"/>
	</flow>
	<flow name="subflow:::::::::::::::::::" doc:id="6c22bc1c-b4a9-4dd3-9058-c56bf7c8918f" >
		<logger level="INFO" doc:name="Logger" doc:id="b9d5dfaf-4d8d-4157-807e-87600e55516d" message="subflow:::::::::::::::::;#[vars.Name] #[vars.Place]"/>
	</flow>
</mule>
